angular-press-hold-button {
  --button-width: 200px;
  --button-height: 50px;
  --button-color: white;
  --button-padding: 20px;
  --button-border-radius: 5px;
  --icon-font-size: 20px;
}

.demo-grid {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .demo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
}
